<div class="container">
  <div class="row">
    <div class="col">
      <h2>1. Get Access Token</h2>
    </div>
  </div>
  <div class="row" v-if="showAccessToken">
    <div class="col">
      <label for="username" class="form-label">Username</label>
      <input
        id="username"
        type="text"
        class="form-control"
        v-model="username"
      />
      <label for="password" class="label">Password</label>
      <input
        id="password"
        type="password"
        class="form-control"
        v-model="password"
      />
      <button class="btn btn-primary mt-2" @click="getAccessToken()">
        Get Token
      </button>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <h2>2. Get Context Token</h2>
    </div>
  </div>
  <div class="row" v-if="showContextToken">
    <div class="col">
      <label for="contextToken" class="form-label">Access Token</label>
      <input
        id="contextToken"
        type="text"
        class="form-control"
        v-model="accessToken"
      />
      <label for="userReference" class="form-label">User Reference</label>
      <input
        id="userReference"
        type="text"
        class="form-control"
        v-model="userReference"
      />

      <button class="btn btn-primary mt-3" @click="getContextToken()">
        Get Context Token
      </button>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <h2>3. View/Add Account(s)</h2>
    </div>
  </div>
  <div class="row">
    <p>
      This shows the use of the
      <code>certua-ob-institution-management</code> component which allows you
      to view your connected accounts, add or remove these.
    </p>
    <div class="col">
      <routerLink to="/accounts">
        <button class="btn btn-primary btn-block" .disabled="!apiConfig">
          View/Add Account
        </button>
      </routerLink>
      <div class="form-check">
        <input
          type="checkbox"
          id="chkConsent"
          v-model="customConsent"
          @change="consentTypeChanged()"
        />
        <label class="form-check-label" for="chkConsent">
          Show Custom Consent Dialog
        </label>
      </div>
    </div>
  </div>
  <div class="row my-3">
    <div class="col">
      <h2>4. View Transactions</h2>
    </div>
  </div>
  <div class="row mt-3">
    <p>
      This shows the use of the
      <code>certua-ob-transaction-list</code> component which allows you to view
      and filter the transactions for your accounts.
    </p>
    <div class="col">
      <routerLink to="/transactions">
        <button class="btn btn-primary btn-block" :disabled="!apiConfig">
          View Transactions
        </button>
      </routerLink>
    </div>
  </div>
</div>
